<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>About</title>
        <link
            rel="stylesheet"
            href="{{url_for('static', filename='style.css')}}"
        />
    </head>
    <body>
        {% include 'header_menu.html' %}
         
    
        <section class="section">
            <h2 class="section-header">About me</h2>
        
            <p class="author-name">Bablahblahblah :)</p>
            <div class="entry-content">
                <p style="text-align:center;"><a href="static/sailormoon_26.jpg"><img  src="static/sailormoon_26.jpg?w=567&amp;h=426" alt="_sailormoon_26" width="567" height="426" sizes="(max-width: 567px) 100vw, 567px"></a></p>
                <p>Dear friends!</p>
                <p>Đừng khóc vì nó kết thúc, hãy cười vì nó đã xảy ra.</p>
                <p><i>Don’t cry because it’s over, smile because it happened.</i></p>
                <p>Bạn hãy nhảy như thể không có ai nhìn bạn, hãy yêu như thể bạn sẽ không bao giờ bị tổn thương, hãy hát như không ai nghe thấy, và hãy sống như thể thiên đường đang ở trên trái đất.</p>
                <p><i>You’ve gotta dance like there’s nobody watching, love like you’ll never be hurt, sing like there’s nobody listening, and live like it’s heaven on earth</i></p>
                <p>Bạn chỉ sống một lần duy nhất, nhưng nếu bạn làm đúng thì chỉ một lần là đủ.</p>
                <p><i>You only live once, but if you do it right, once is enough. &nbsp;</i></p>
                <p>Người phụ nữ mà đi theo đám đông sẽ luôn không thể đi xa hơn đám đông. Người phụ nữ mà đi một mình thì thường tìm thấy cô ấy ở những nơi mà chưa ai từng đến trước đó.</p>
                <p><i>The woman who follows the crowd will usually go no further than the crowd. The woman who walks alone is likely to find herself in places no one has been before.</i></p>
                <p>Cám ơn</p>
                <p><i>Thank you</i></p>
                
        </section>   
            
        <footer class="footer">
            <hr>
            <p class="copy-right">Blogs 2021</p>
        </footer>
    
    </body>
</html>
